/*@media (max-width: 767.98px) {
    .btn-group .btn {
        width: 100%;
    }

    .card-header-action .btn{
        display:inline-flex !important;
    }

    .card-header-action .card-header-form{
        display:none !important;
    }
}*/

.table td:nth-child(6) {
    cursor: pointer;
}

    .table td:nth-child(6):hover {
        text-decoration: underline;
    }
